{{- /* Detect OS */ -}}
{{- $osFamily := .chezmoi.os -}}
{{- $distro := "" -}}
{{- $isWsl := false -}}
{{- $hasDesktop := false -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $hasDesktop = true -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $distro = .chezmoi.osRelease.id -}}
{{-   if lookPath "wslpath" -}}
{{-     $isWsl = true -}}
{{-   else -}}
{{-     $hasDesktop = promptBoolOnce . "has_desktop" "Does this machine have a desktop environment" -}}
{{-   end -}}
{{- end -}}

{{- /* Windows: no questions needed, just install apps */ -}}

[data]
    os_family = {{ $osFamily | quote }}
    distro = {{ $distro | quote }}
    is_wsl = {{ $isWsl }}
    has_desktop = {{ $hasDesktop }}
